.header {
  grid-column: center-start / center-end;
  background-color: var(--deep-navy);
  color: var(--white);
  border: 3px solid var(--gold-accent);
  border-radius: var(--border-radius-md);
  border-bottom-right-radius: 0%;
 
}
